/* Imagem de fundo */
.login-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../../../assets/imagens/imagem-de-fundo.png') no-repeat center center / cover;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}

/* Container de login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 2rem !important;
  background-color: rgba(255, 255, 255, 0.2); /* Fundo branco semitransparente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

/* Logo */
.login-logo {
  text-align: center;
}

.login-logo-image {
  width: 120px;
  height: 120px;
}

/* Título */
.login-title {
  font-size: 2rem;
  color: #000;
  margin: 0.5rem 0 0;
}

.login-subtitle {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

/* Links e botões */
.signup-text {
  font-size: 2rem;
  color: #d4d1d0;
 
}

.signup-link {
  color: #ff5e00 !important;
  text-decoration: underline !important;
  cursor: pointer;
}


/* Responsividade */
@media (max-width: 768px) {
  .login-container {
    padding: 1.5rem;
  }

  .login-logo-image {
    width: 100px;
    height: 100px;
  }

  .login-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 1rem;
    gap: 15px;
  }

  .login-logo-image {
    width: 80px;
    height: 80px;
  }

  .login-title {
    font-size: 1.5rem;
  }

  .signup-text {
    font-size: 0.9rem;
  }
}
